
    <div class="bdr">
        
        <table class="table table-hover table-striped song-list">

            <thead class="table-light">
                <tr>
                    <th>Song</th>
                    <th>Artist</th>
                    <th>Genre</th>
                </tr>
            </thead>

            <tbody class="nb">
                <tr *ngFor="let song of songs">
                    <td class="align-middle"> &nbsp; <a routerLink="/songs/{{ song.id }}" class="title"> {{ song.frTitle }} </a> - {{ song.enTitle }}</td>
                    <td class="align-middle"> <a routerLink="/artists/{{ song.artist?.id }}">{{ song.artist?.artistName }}</a> </td>
                    <td class="align-middle"> <a routerLink="/genres/{{ song.genre?.id }}/genre">{{ song.genre?.genreName }}</a>  </td>
                </tr>

            </tbody>

        </table>
        

        <div *ngIf="songs?.length == 0" class="container">
            <div class="alert alert-danger col-md-12" role="alert">
                No songs found.
            </div>
        </div>

    </div>
