
    <div class="bdr">
        <table class="table table-hover table-striped song-list">

            <thead class="table-light">
                <tr>
                    <th>Song</th>
                    <th>Artist</th>
                    <th>Genre</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="nb">
                <tr *ngFor="let song of songs">
                    <td class="align-middle"> &nbsp; <a href="#" class="title"> {{ song.frTitle }} </a> - {{ song.enTitle }}</td>
                    <td class="align-middle"> <a href="#">  Artist Place Hold </a> </td>
                    <td class="align-middle"> Genre Place Hold </td>
                    <td class="align-middle"> <button type="button" class="btn btn-outline-danger"><i class="fa fa-heart" aria-hidden="true"></i> </button> </td>
                </tr>

            </tbody>

        </table>
    </div>
