<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Language App</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Saved Songs</a></li>
            <li><a class="dropdown-item" href="#">Study Phrases</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br><br>

<div class="container">
  <h1>Translated Songs</h1> <br>
</div>



<!-- SEARCH COMPONENT -->
<div class="container">
  <app-search></app-search>
</div>

<br><br>




<div class="container">
  <div class="row">


    <!-- SONG LIST CONTENT -->
    <div class="col-lg-9">
        <router-outlet></router-outlet>
        <br>
    </div>




    <!-- SIDE BAR WITH ARTIST AND GENRE CONTENT -->
    <div class="col-lg-3 sidebar">
      
      <!-- YOUR PHRASES SIDE BAR COMPONENT -->
      <app-phrase-status></app-phrase-status>
      <br>

      <!-- GENRE SIDE BAR COMPONENT -->
      <app-genre-sidebar></app-genre-sidebar>
      <br>


      <!-- ARTIST SIDE BAR  -->
      <app-artist-sidebar></app-artist-sidebar>




    </div>
  </div>
</div>



<br><br>
<footer class="bg-light">
  <ul>
    <li><a href="#">About Site</a></li> | 
    <li><a href="#">Creator</a></li> |
    <li><a href="#">Help</a></li>
  </ul>
</footer>