
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">LanguageApp</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>

		</ul>
	</div>
</nav>

<br><br>

<div class="container">
  <h1>Translated Songs</h1> <br>
</div>

<div class="container">
  <div class="container">
    <div class="card">
      <h5 class="card-header">Search Songs</h5>
      <form>
        <div class="card-body row">
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Song name">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Artist">
          </div>
          <div class="col-md-2">
            <select class="form-select" >
              <option value="">Genre</option>
              <option>Pop</option>
              <option>R&B</option>
            </select>
          </div>
          <div class="col-md-2">
            <div class="d-grid"><button type="submit" class="btn btn-primary ">Search</button></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<br><br>




<div class="container">
  <div class="row">


    <!-- SONG LIST CONTENT -->
    <div class="col-lg-9">
        <router-outlet></router-outlet>
        <br>
    </div>




    <!-- SIDE BAR WITH ARTIST AND GENRE CONTENT -->
    <div class="col-lg-3 sidebar">
      

      <!-- GENRE SIDE BAR COMPONENT -->
      <app-genre-sidebar></app-genre-sidebar>
      <br>


      <!-- ARTIST SIDE BAR  -->
      <div class="card">
        <p class="card-header">Top Artists</p>
        <div class="card-body">
          <ul>
            <li><a routerLink="/artists/1" routerLinkActive="active-link">Eli Rose</a></li>
          </ul>
        </div>
      </div>




    </div>
  </div>
</div>



<br><br>
<footer class="bg-light">
  <ul>
    <li><a href="#">About Site</a></li> | 
    <li><a href="#">Creator</a></li> |
    <li><a href="#">Help</a></li>
  </ul>
</footer>