/* You can add global styles to this file, and also import other style files */
td a {
    text-decoration: none;
}

.title {
    font-size: larger;
}



.sidebar ul {
    list-style-type: none;
}



footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}
footer li {
    display:inline;
  }
footer a {
    text-decoration: none;
}

.bdr {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    overflow:hidden;
}
tbody.nb {
    border-top: 0px !important;
}

.lyric-row{
    padding-bottom: 10px;
}

.verticalAlign{
display:flex;
  align-items:center; 
  justify-content: center;
}

.phraseCard{
    border-left: 10px solid  #007bff;
    background-color: #fafafa;
    border-radius: .25rem;
} .phraseCard p{
    font-size: large;
    padding-left: 10px;
    padding-top: 10px;
}