    <div class="card">
        <h5 class="card-header"> &nbsp; </h5>
        <div class="container">
            <br>
            <div class="card">
                <div class="card-body">

                    <h5>{{ song.frTitle }} &#8226;  {{ song.enTitle }}</h5>

                    <p>Artist: <a routerLink="/artists/{{ artist.id }}"> {{ artist.artistName }} </a></p>
                    <p>Genre: <a routerLink="/genres/{{ genre.id }}"> {{ genre.genreName }} </a></p>
                    
                    <button type="button" class="btn btn-outline-danger"><i class="fa fa-heart" aria-hidden="true"></i> </button> 

                </div>

            
            </div>

            <br>
            
            <div class="row">
                <div class="col-md-6">
                    <p>French Lyrics</p><br>
                    {{ song.frLyrics }}
                </div>

                <div class="col-md-6">
                    <p>English Lyrics</p><br>
                    {{ song.enLyrics }}
                </div>

            </div>
            <br>
        </div>
    </div>
